import React from 'react';
import Typography from '@mui/material/Typography';

class ErrorLoading extends React.Component {
  render() {
    return (
      <div>
        <Typography >Error loading component</Typography >
      </div>
    );
  }
}

export default ErrorLoading as React.ComponentType<any>;
