import React from 'react';
import { Translate } from 'react-jhipster';
import { Alert } from 'reactstrap';
import Typography from '@mui/material/Typography';

class PageNotFound extends React.Component {
  render() {
    return (
      <div>
        <Typography variant="h1" >
          <Translate contentKey="error.http.404">
            The page does not exist.
          </Translate>
        </Typography>
      </div>
    );
  }
}

export default PageNotFound;
